
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

/* Header */

.grid-container {

    display: grid;
    grid-template-areas: 
    "header   header   header"
    "main     main     main"
    "aside    aside    aside"
    "footer   footer   footer"
    ;
}

.encabezado {
    background-color: #9e18af;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    padding-bottom: 30px;
    display: grid;
    grid-area: header;
}

.encabezado2 {
    background-color: #9e18af;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    padding-bottom: 30px;
    grid-area: header;
}

.encabezado__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.encabezado__menu li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

.encabezado__menu li a {
    color: #100001;
    text-align: center;
    text-decoration: none;
}

.boom {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}

.titlogo {
    color: #b204c2;
    font-size: 40px;
}

/* Main */
main {
    grid-area: main;
}

.mainimg {
    background: #ffffff url(../assets/heladoprinc.jpeg) center center/cover no-repeat;
    width: 100%;
    height: 400px;
}

.segtitulo {
    text-align: center;
    padding: 120px;
    font-size: 60px;
}

.parrafopri {
    text-align: center;
    background-color: #d8a5df;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.tercertitulo {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.comentercertitulo {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

.titulos1 {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.classh3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

section {
    background-color: #dec9e0;
}

.saboreshel__gustos__imag {
    width: 200px;
}

.saboreshel__gustos__imag img {
    width: 100%;
}

.saboreshel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.saboreshel__gustos {
    background-color: pink;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    display: inline-block;
    flex-flow: wrap;
    margin-left: 10px;
    text-align: center;
}

h3 {
    text-align: center;
}

.sabores2__boton {
    padding: 10px 10px;
    background-color: #b204c2;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    display: inline-block;
    padding-top: 10px;
}

.sabores2 {
    padding-bottom: 50px;
    justify-content: center;
}

.sabores2__sucursales {
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Main Nosotros */
.seccionprinc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionprinc__imghelado {
    width: 50%;
}

.seccionprinc__imghelado__titulo {
    font-size: xx-large;
}

.carousel-item img {
    max-height: 400px;
}

/* Aside */
.contacto {
    background-color: #d8a5df;
    padding-top: 50px;
    width: 100%;
    grid-area: aside;
    display: grid;
}

.contacto__sitiosweb__linkcontacto {
    margin-left: 15px;
}

.contacto__sitiosweb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-left: 15px;
}

.contacto__direccion {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    font-size: 20px;
}

.contacto__sucursales {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.contacto__sucursales__boton {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: #b204c2;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    display: inline-block;
    padding-top: 10px;
}

.contacto__sucursales__containermapa1 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    background-color: #9e18af;
    grid-area: footer;
    display: grid;
}

.menufooter {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 22px;
}

.menufooter li {
    display: inline;
}

.menufooter li a {
    color: #100001;
    text-align: center;
    text-decoration: none;
}

.copy {
    text-align: center;
}

    
/* Media Queries */ 

@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        background-color: #9e18af; 
    }
    .segtitulo {
        text-align: center;
        padding: 120px;
        font-size: 20px;
    }
    
    .contacto__sitiosweb {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        margin-left: 15px;
        margin-top: 15px;
        display: inline-table;
    }

    .contacto__sucursales__containermapa1 {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        display: none;
    }

    main {
        display: flow;
    }
    .mainimg {
        height: 300px;
    }
    
    .contacto__direccion {
        font-size: 10px;
    }
    .segtitulo {
        font-size: 15px;
        padding: 100px;
    }
    .boom {
        display: flex;
    }

    .copy {
        font-size: 15px;
    }

    .parrafopri {
        width: 100%;
        font-size: xx-small;
    }
    

}


@media only screen and (min-width: 501px) and (max-width: 961px) {
    .segtitulo {
        text-align: center;
        padding: 120px;
        font-size: 40px;
    }
    .contacto__sucursales__containermapa1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }

    .contacto {
        background-color: #d8a5df;
        padding-top: 50px;
        width: 100%;
        display: flow-root;
    }
    .copy {
        margin-bottom: 0px;
       }


}


@media only screen and (min-width: 901px) {
   .copy {
    margin-bottom: 0px;
   }

}