/* Aside */
.contacto {
    background-image: url(../assets/fondoblanco.jpg);
    @include spaciosorden (80px, 70px);
    width: 100%;
    grid-area: aside;
    display: grid;
    @include fondoimagen;

    &__sitiosweb {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
        margin-left: 15px;

        &__linkcontacto {
            margin-left: 15px;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 40%;
            }
        }
    }



    &__direccion {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
        font-size: 20px;
        border: solid;
        text-align: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }

    &__sucursales {
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        padding-top: 40px;

        &__boton {
            @include botonbusqueda;
        }

        &__containermapa1 {
            @include containermapa;
        }
    }
}