
/* encabezado */
.encabezado {
    background-color: $fondo-color-principal;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    padding-bottom: 30px;
    display: grid;
    grid-area: header;
    background:  linear-gradient(to right, #ffb6bf, #e7122b);
    z-index: 999;
}

.encabezado2 {
    background-color: #f3f3f3;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    padding-bottom: 30px;
    grid-area: header;
}


.boom {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}

.titlogo {
    color: #b204c2;
    font-size: 40px;
}