/* encabezado */
.encabezado {
    background-color: $fondo-color-principal;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    padding-bottom: 30px;
    display: grid;
    grid-area: header;
    background: linear-gradient(to right, #ffb6bf, #e7122b);
    z-index: 999;
}

.encabezado2 {
    background-color: #f3f3f3;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    padding-bottom: 10px;
    grid-area: header;
    z-index: 999;
    position: sticky;
    background-attachment: fixed;



}


.boom {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: map-get($titulos, secundario);

}

