/* encabezado */
.encabezado {
    background-color: $fondo-color-principal;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeeee;
    z-index: 999;
    padding: 10px 20px;

    &__logo {
        display: flex;
        justify-content: center;
    }

    img {
        height: 180px;
    }
}






.nav-item {
    font-weight: bold;
}