/* Footer */
footer {
    background-color: #f50000;
    grid-area: footer;
    display: grid;
}

.menufooter {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    @include spaciosorden (22px, 30px);

    &__li {
        display: inline;

        &__a {
            color: #100001;
            text-align: center;
            text-decoration: none;
        }
    }
}


.copy {
    text-align: center;
}