/* Main Index*/
main {
    grid-area: main;
}

.mainimg {
    background: #ffffff url(../assets/fondoprinc.jpg);
    width: 100%;
    height: 600px;
    background-position-y: bottom;
}

.segtitulo {
    text-align: center;
    font-family: $titulo-principal;
    font-size: map-get($titulos, principal);
    text-align: center;
    padding: 200px;
    font-weight: bold;



}

.containerparrafo {
    background-image: url(../assets/fondoblanco.jpg);
    background-size: cover;
    padding-bottom: 40px;
}

.parrafopri {
    text-align: center;
    @include spaciosorden (40px, 40px);
    margin-bottom: 0px;
    font-size: map-get($titulos, terciario);
    max-width: 70%;
    margin: 0 auto;
    font-weight: bold;
}

.tercertitulo {
    text-align: center;
    @include spaciosorden (80px, 50px);
    font-size: map-get($titulos, secundario);
}



.titulos1 {
    justify-content: center;
    @include spaciosorden (50px, 40px);
}

.classh3 {
    @include spaciosorden (30px, 30px);
}

section {
    background-color: #dec9e0;
}

.sabores {


    @include spaciosorden (100px, 0px);
    background-image: url(../assets/2az.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.saboreshel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__gustos {
        width: 210px;
        margin: 10px;

        &__imag {
            border-radius: 10px;
            border: 1px solid;
            display: flex;
            flex-direction: column; 
            align-items: center;
            justify-content: center;
            background: #DAE2F8;
            background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
            background: linear-gradient(to right, #D6A4A4, #DAE2F8);

            img {
                width: 100%;
                height: auto; 
                max-height: 150px; 
            }

            p {
                margin: 10px 0 0 0; 
                text-align: center;
            }
        }
    }
}





.sabores2 {
    padding-bottom: 50px;
    justify-content: center;
    background-image: url(../assets/fondoblanco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__sucursales {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    &__boton {
        @include botonbusqueda
    }

}


h3 {
    text-align: center;
}





/* Main Nosotros */
.nosotrostitulo {
    padding-left: 10%;
    padding-bottom: 20px;
    font-size: map-get($titulos, secundario);

}

.descripcionboom {
    margin-left: 10%;
    margin-right: 10%;
}


.seccionprinc {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include spaciosorden (70px, 50px);
    background-image: url(../assets/fondoblanco.jpg);
    @include fondoimagen;

    p {
        font-size: 30px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 40px;

    }


    &__imghelado {
        width: 50%;

        &__titulo {

            font-size: map-get($titulos, secundario);
        }

    }

}


.carousel-item img {
    max-height: 400px;
}

.principalnosotros {
    @include spaciosorden (70px, 70px);
    background-image: url(../assets/vecteezy_helado-surtido-en-tazas_2032261.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}



/* Main Contacto */

.titucontacto {
    text-align: center;
    padding: 50px;
    font-size: map-get($titulos, secundario);
    font-family: $titulo-principal;
    background-color: #ebebde;
    margin-top: 10px
}


.contactoprinc {
    display: flex;

    &__imag {
        width: 60%;
        padding-right: 50px;

        &__form {
            display: grid;
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows: repeat(5, min-content) 1fr;
            grid-template-columns: 100%;
            margin-right: 200px;
        }
    }
}


.maincontacto {
    background-color: #ebebde;
    @include spaciosorden (50px, 5px);

}


/* Main Sucursales */

.mainsucursales {
    background-image: url(../assets/heladosfruti.jpg);

    @include fondoimagen
}



.titulosucursales {

    text-align: center;
    font-size: map-get($titulos, secundario);
    @include spaciosorden (50px, 50px);
}


.ciudadsucursales {



    justify-content: center;
    font-size: map-get($titulos, terciario);
    font-style: unset;
    display: grid;
    margin-top: 60px;
    font-style: normal;

    &__calles {
        font-weight: bold;
    }

}

.tituciudad {
    margin-top: 50px;
}

.seccionbuscador {

    display: grid;
    justify-content: center;
    margin-top: 50px;


    &__texto {
        width: 100%;
        text-align: center;

    }

    &__sucursal {
        margin-bottom: 60px;
        width: 450px;

    }




}

/* Main Sabores */

.fondosabores {
    background-image: url(../assets/fondoblanco.jpg);
    background-color: red;
    display: grid;
    @include fondoimagen
}

.titulosabores {
    display: grid;

    &__1 {

        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 80px;
    }

}

.mainsabores {
    display: flex;

    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;


    &__hel1 {
        margin-left: 50px;

        p {
            display: flex;
            justify-content: center;
            font-size: x-large;
        }
    }
}



.mainsabores2 {
    display: flex;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;


    &__hel2 {
        margin-left: 50px;

        p {
            display: flex;
            justify-content: center;
            font-size: $font-size;
        }
    }
}


.mainsabores3 {
    display: flex;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;


    &__hel3 {
        margin-left: 50px;

        p {
            display: flex;
            justify-content: center;
            font-size: $font-size;
        }
    }
}

.buscasabores {
    margin-bottom: 100px;

    &__tit {
        margin-bottom: 50px;

    }

    &__buscador {
        display: block;
        margin: 0 auto;
        width: 30%;
        text-align: center;
    }
}